<!-- Hero Section Component -->
<main
  class="flex flex-col justify-center items-center bg-gradient-to-b from-black to-gray-700 px-12 pt-[3rem] xl:pt-20 transition-all"
>
  <div class="flex justify-center space-x-28 items-start">
    <div class="flex flex-col items-start space-y-3 max-w-lg">
      <h1 class="text-3xl font-bold">
        File Conversion Made <span class="text-pop"> Quick & Easy</span>
      </h1>
      <p class="tracking-wider">
        Convert everything : documents, images, videos & sound, with 800+
        supported formats
      </p>
    </div>
    <img
      class="h-48 hidden sm:flex transition-all"
      src="../../assets/svgs/convert-file.svg (1).svg"
      alt="test"
    />
  </div>
  <button class="hero-button">Choose Files</button>
  <div class="pb-96"></div>
  <div class="pb-20"></div>
</main>

<div class="flex flex-col justify-center items-center bg-white">
  <p class="pb-48 pt-48"></p>

  <p class="pb-48 pt-48">TEST TITLE</p>
</div>
