<!-- Hero Section Component -->
<main
  class="flex flex-col relative justify-center items-center bg-gradient-to-b from-white to-black/20"
>
  <div class="text-4xl">
    <p class="pb-48 pt-48">TEST TITLE</p>
    <p class="pb-48 pt-48"></p>
  </div>
  <img
    class="absolute top-5 h-[600px] my-0 2xl:my-16 max-w-none -z-20"
    src="../../assets/imgs/file-illustration-1.jpg"
    alt="test"
  />
  <div class="flex absolute w-full h-full bg-[#FFFFFF] -z-30"></div>
</main>

<div class="flex flex-col justify-center items-center bg-black">
  <p class="pb-48 pt-48"></p>
  <p class="pb-48 pt-48">TEST TITLE</p>
</div>
