<ul class="nav-bar">
  <div class="hidden md:inline" *ngFor="let item of navItems">
    <li
      *ngIf="item.isMain"
      class="nav-item font-extrabold tracking-[0.15em] pl-[5.72rem]"
      [ngClass]="
        item.name == selectedItem.name ? 'border-primary text-primary' : ''
      "
      (click)="selectItem(item.name)"
    >
      <a class="flex justify-center items-center">
        <img
          class="absolute mb-1 -ml-36"
          src="../../../assets/imgs/convertly-logo.png"
          alt=""
        />
        <p class="relative">{{ item.name }}</p></a
      >
    </li>
    <li
      *ngIf="!item.isMain"
      class="nav-item"
      [ngClass]="
        item.name == selectedItem.name ? 'border-primary text-primary' : ''
      "
      (click)="selectItem(item.name)"
    >
      <a>{{ item.name }}</a>
    </li>
  </div>

  <li
    class="nav-item hover:border-opacity-0 font-extrabold tracking-[0.15em] pl-12 inline md:hidden"
    [ngClass]="selectedItem.name == navItems[0].name ? 'text-primary' : ''"
    (click)="selectItem(navItems[0].name)"
  >
    <a class="flex justify-center items-center">
      <img
        class="absolute mb-1 -ml-36"
        src="../../../assets/imgs/convertly-logo.png"
        alt=""
      />
      <p class="relative">{{ navItems[0].name }}</p></a
    >
  </li>

  <li class="inline md:hidden">
    <fa-icon
      [icon]="menuOff ? faBars : faTimes"
      (click)="toggleMenu()"
      class="fa-xl p-3 text-white hover:text-primary -mr-3 relative hover-ease"
    ></fa-icon>
  </li>
</ul>

<ul
  [ngClass]="menuOff ? 'hidden' : 'flex'"
  class="flex flex-col md:hidden fixed top-14 right-12 border-t-4 border-primary !backdrop-blur-[10px] bg-opacity-80 z-50 bg-black shadow-md font-semibold text-xs tracking-widest rounded-b-sm transition-all ease-in-out"
>
  <div *ngFor="let item of navItems">
    <li
      *ngIf="!item.isMain"
      (click)="toggleMenu()"
      class="nav-item hover:border-opacity-0"
      [ngClass]="item.name == selectedItem.name ? ' text-primary ' : ''"
      (click)="selectItem(item.name)"
    >
      <a>{{ item.name }}</a>
    </li>
  </div>
</ul>
