<header
  class="header sticky top-0 bg-black shadow-md flex items-center justify-center px-8 py-02 space-x-28 backdrop-blur-[10px] bg-opacity-10"
>
  <!-- logo -->
  <!-- <h1 class="">
    <a href="">
      <p class="h-6 hover:text-primary duration-200">Convertly</p>
    </a>
  </h1> -->

  <!-- navigation -->
  <nav class="nav font-semibold text-xs tracking-widest">
    <ul class="flex items-center">
      <li class="nav-item border-primary text-primary">
        <a href="">Convert</a>
      </li>
      <li class="nav-item">
        <a href="">API</a>
      </li>
      <li class="nav-item">
        <a href="">Formats</a>
      </li>
      <li class="nav-item">
        <a href="">Pricing</a>
      </li>
    </ul>
  </nav>

  <!-- buttons --->
  <!-- <h1 class="">
    <a href="">
      <p class="h-6 hover:text-primary duration-200">Convertly</p>
    </a>
  </h1> -->
</header>
