<header
  class="header sticky top-0 bg-white shadow-md flex items-center justify-center px-8 py-02 space-x-28"
>
  <!-- logo -->
  <!-- <h1 class="">
    <a href="">
      <p class="h-6 hover:text-primary duration-200">Convertly</p>
    </a>
  </h1> -->

  <!-- navigation -->
  <nav class="nav font-semibold text-sm">
    <ul class="flex items-center">
      <li
        class="p-4 px-16 pt-6 border-b-4 border-primary border-opacity-100 text-primary duration-200 cursor-pointer active"
      >
        <a href="">Convert</a>
      </li>
      <li
        class="p-4 px-16 pt-6 border-b-4 border-primary border-opacity-0 hover:border-opacity-100 hover:text-primary duration-200 cursor-pointer"
      >
        <a href="">API</a>
      </li>
      <li
        class="p-4 px-16 pt-6 border-b-4 border-primary border-opacity-0 hover:border-opacity-100 hover:text-primary duration-200 cursor-pointer"
      >
        <a href="">Formats</a>
      </li>
      <li
        class="p-4 px-16 pt-6 border-b-4 border-primary border-opacity-0 hover:border-opacity-100 hover:text-primary duration-200 cursor-pointer"
      >
        <a href="">Pricing</a>
      </li>
    </ul>
  </nav>

  <!-- buttons --->
  <!-- <h1 class="">
    <a href="">
      <p class="h-6 hover:text-primary duration-200">Convertly</p>
    </a>
  </h1> -->
</header>
