.file-input{
    font-size: 23px;
    background-color: white;
    border-radius: 18px;
    height: 6vh;
    width: 60vw;
    color: black;
    font-weight: 600;
}
.section{
    width: 60vw;
}
.title{
    font-weight: 700;
    font-size: 27px;
}
.property{
    font-weight: 600;
    font-size: 22px;
    color: #89CFF0;
}

.hero-button{
    margin-top: 37px !important;
}
.ext-select{
    font-size: 23px;
    background-color: white;
    border-radius: 18px;
    height: 6vh;
    width: 10vw;
    color: black;
    font-weight: 600;
}
