<main
  class="flex flex-col justify-center items-center bg-gradient-to-b from-black to-gray-600 px-12 pt-[3rem] 2xl:pt-20 transition-all ease-in-out"
>
  <!-- Introduction -->
  <div class="flex justify-center space-x-28 items-start">
    <div class="flex flex-col items-start space-y-3 max-w-lg">
      <h1 class="text-3xl font-bold">
        File Conversion Made <span class="text-pop"> Quick & Easy</span>
      </h1>
      <p class="tracking-wider">
        Convert everything : documents, images, videos & sound, with 800+
        supported formats
      </p>
    </div>
    <img
      class="h-48 hidden sm:flex transition-all ease-in-out"
      src="../../assets/svgs/convert-file.svg (1).svg"
      alt="test"
    />
  </div>

  <!-- Hero Button -->
  <button class="hero-button" (click)="selectFiles()">
    <fa-icon [icon]="faFileImport" class="fa-sm mr-1"></fa-icon>
    Choose Files
  </button>
  <input
    type="file"
    class="hidden"
    id="file"
    (change)="filesSelected($event)"
    multiple="multiple"
  />

  <!-- Files Rows -->
  <div class="flex flex-col gap-y-5 mt-12 w-full max-w-[58rem]">
    <div
      *ngFor="let file of files"
      class="flex w-full px-3 py-2 pt-3 rounded-sm bg-gray-500 bg-opacity-20 items-center tracking-wider shadow-sm shadow-black"
    >
      <div class="flex-auto w-40 truncate mr-8">
        <fa-icon [icon]="faFileCircleCheck" class="mr-3"></fa-icon
        >{{ file.name }}
      </div>
      <div class="flex-auto w-44 truncate mr-2">
        <fa-icon [icon]="faArrowsRotate" class="mr-3"></fa-icon> Convert to
        <app-dropdown></app-dropdown>
      </div>
      <div class="flex-auto w-0 truncate text-xs tracking-widest mr-4">
        {{ file.size | bitsToKbs }}
      </div>
      <div class="flex-none hover:text-primary hover-ease">
        <fa-icon [icon]="faTimes"></fa-icon>
      </div>
    </div>
  </div>

  <!-- Extra Buttons -->
  <div *ngIf="files" class="flex w-full max-w-[58rem] justify-between mt-5">
    <div class="p-6 pl-0">
      <div class="default-button">
        <fa-icon [icon]="faFileCirclePlus" class="mr-6"></fa-icon>Add Files
      </div>
    </div>
    <div class="p-6">
      <div class="default-button">
        <fa-icon [icon]="faArrowsSpin" class="mr-6 fa-lg"></fa-icon>Convert All
        to <app-dropdown></app-dropdown>
      </div>
    </div>
    <div class="p-6 pr-0">
      <div class="default-button">
        <fa-icon [icon]="faArrowRight" class="mr-6"></fa-icon>Convert Now
      </div>
    </div>
  </div>

  <div class="pb-80"></div>
  <div class="pb-20"></div>
</main>

<div
  class="flex flex-col justify-center items-center bg-gradient-to-r from-black to-gray-600"
>
  <p class="pb-48 pt-48">TEST TITLE</p>
  <p class="pb-48 pt-48">TEST TITLE</p>
</div>
