<div
  class="flex flex-col justify-center items-center bg-gradient-to-r from-white to-gray-500"
>
  <div class="grid grid-cols-2 gap-24 w-full max-w-[58rem]">
    <div class="flex bg-gray-500 text-white justify-center items-center">
      test
    </div>
    <div class="flex bg-gray-500 text-white justify-center items-center">
      test
    </div>
    <div class="flex bg-gray-500 text-white justify-center items-center">
      test
    </div>
    <div class="flex bg-gray-500 text-white justify-center items-center">
      test
    </div>
  </div>
</div>

<p>features-section works!</p>
